# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members. 
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [2]:
hejsa = "hello world"
number = "5"

In [6]:
type(hejsa)

dir(hejsa) #tells me all the different things that are true to hejsa because it is a string

#hejsa.isopp

hejsa

hejsa.startswith

hejsa.split # if the variable consists of two words they will now be split into the first and then the second word

## Integers

In [1]:
tal = 1
nyttal = -398

## Floats

In [ ]:
floats = 33.3
negfloat = -98.4

## Lists

In [38]:
fruits = ['oranges', 'bananas', 'pears', 5]

fruits

lists = ['item1', 'item2', 'item3', 4]
lists

combined = [fruits, lists]
combined

[['oranges', 'bananas', 'pears', 5], ['item1', 'item2', 'item3', 4]]

In [39]:
fruits[1] #indexing, 

combined[0][1] #get the first list and within that item get the second item

'bananas'

## Tuples

In [44]:
fruittuple = ('apple', 'banana', 'cherry')
#not possible: fruittuple [1] = 'kiwi' #as you cannot change a tupple

('apple', 'banana', 'cherry')

## Sets

In [59]:
fruits

['oranges',
 'bananas',
 'pears',
 5,
 'cherries',
 'grapes',
 'grapes',
 'grapes',
 'grapes']

In [58]:
fruits.append('grapes')

fruits

In [ ]:
set(fruits) #if i eg have several grapes, then it only shows grape once, it shows the "sets"/unique items

## Dictionaries

In [50]:
dict = {'name': 'Ane', 
        'Age': '24', 
        'lol': 'haha'}

dict['name']

'Ane'

## Loops

In [56]:
for x in range(5):
    print(x)

0
1
2
3
4

In [57]:
for fruit in fruits: #variables can be anything, x, a, fruit etc
    print(fruit)

oranges
bananas
pears
5
cherries
grapes
grapes
grapes

In [60]:
fruits[3]= 'cherry' #changing the number to be a fruit as we can't run the code below with an integer

In [66]:
for fruit in fruits:
    print('I love ' + fruit)

I love oranges
I love bananas
I love pears
I love cherry
I love cherries
I love grapes
I love grapes
I love grapes
I love grapes

In [67]:
f = ['I love ' + x for x in fruits]
f

['I love oranges',
 'I love bananas',
 'I love pears',
 'I love cherry',
 'I love cherries',
 'I love grapes',
 'I love grapes',
 'I love grapes',
 'I love grapes']

## Conditionals

In [69]:
for fruit in fruits:
    if fruit.startswith('p'):
        print('I love ' + fruit)

I love pears

In [70]:
for fruit in fruits:
    if 'p' in fruit:
        print('I love ' + fruit)

I love pears
I love grapes
I love grapes
I love grapes
I love grapes

In [74]:
for fruit in fruits:
    if 'p' in fruit: #only if fruit starts with p it check if there's also a g
            if 'g' in fruit:
                print('I love ' + fruit)

IndentationError: unexpected indent (20473711.py, line 6)

In [77]:
MyFavFruits = []
for fruit in fruits:
    if 'p' in fruit: #only if fruit starts with p it check if there's also a g
            if 'g' in fruit:
                 MyFavFruits.append(x)